*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav{
    height: 15vh;
    width: 100%;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
}
.immg{
    width:20%;
    height: 10vh;
    background-image: url(img/logo.png);
    background-size: 100% 100%;
    margin-left: 20px;
    margin-top: 20px;
}
.navigate{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    margin-left: 1400px;
    z-index: 1;
}
.nav ul li i{
background-color: #389FEC;
color: white;
height:40px;
width: 40px;
font-size: 30px;
text-align: center;
padding: 5px;
box-sizing: border-box;
}
.nav ul li i:hover{
    border-radius: 50%;
}
.nav ul li{
    float:left;
    font-size: 20px;
}
.nav ul{
    width:75%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 50px;
}
.nav1{
    height: 12vh;
    width:100%;
    background-color:#389FEC ;
    display: flex;
    padding: 1px;
}
.nav1 ul li{
color:white;
font-weight: bolder;
float: left;
margin-left: 50px;
margin-top: 30px;
font-size: 20px;

}
#home{
    width: 150px;
    height:70px;
    background-color: green;
    box-shadow: 5px 5px honeydew;
    margin-top:0;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}
.nav1 ul li:hover{
    width: 150px;
    height:70px;
    background-color: green;
    box-shadow: 5px 5px honeydew;
    margin-top:0;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}
.nav1 input{
    width: 300px;
    height: 5vh;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 150px;
}
::placeholder{
    font-size: 20px;
}
.nav1 i{
    margin-top: 28px;
    margin-left: -30px;
    font-size: 20px;
}
.back{
    height: 100vh;
    width: 100%;
    background-image: url(img/slider-bg.png);
    background-size: 100% 100%;
    padding: 1px;
    position: relative;
}
.heart{
    height: 100px;
    width: 100px;
    background-color: white;
    background-repeat: no-repeat;
    border:2px solid  green;
    border-radius: 50%;
    margin:100px auto;
    
}
.heart img{
    margin-left: 20px;
    margin-top: 20px;
}
.txt{
    width: 300px;
    /* margin: 0 auto; */
    margin-left: 580px;
}
.txt h1{
    font-size: 50px;
}
#animate{
    animation: example 4s steps(20) infinite;
    animation-fill-mode: forwards;
    overflow: hidden;
    white-space: nowrap;
}
@keyframes example{
    from{
        width:0ch;
    }
    to{
        width:20ch;
    }
}
.emerg{
    height: 40vh;
    width: 20%;
    background-color: #389FEC;
    color: white;
    text-align: center;
    float: left;
    margin-top: 70px;
    margin-left: 280px;
}
.emerg i{
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 20px;
}
.emerg p{
margin-top: 40px;
}
.day{
    margin-top: 25px;
    border-bottom: 1px dotted white;
}
.aa{
    background-color: #227DC1;
    margin-left: 0;
    height: 50vh;
    box-shadow:25px 25px 10px #389FEC;
}
.ab{
    background-color: #0E5081;
    margin-left: 0;
}
.clear{
    clear: both;
}
.speclist{
    height: 120vh;
    width: 100%;
    border-bottom:1px dotted grey;
    position:relative;
}
.speclist img{
    margin-top: 50px;
    margin-left: 700px;
}
.speclist h2{
    margin-left: 650px;
    margin-top: 20px;
    
}
.speclist hr{
    border: 3px solid #21d194;
    width: 3%;
    margin-left: 720px;
    margin-top: 20px;
}
.clinicservice{
    height: 60vh;
    width: 40%;
    margin-top: 80px;
    margin-left: 70px;
    float: left;
    
}
.clinimg{
    background-image: url('img/about_03.jpg');
    background-size: 100% 100%;
    margin-left: 100px;
}
.clinicservice i{
    color: white;
    font-size: 50px;
    margin-top: 200px;
    margin-left: 300px;
}
.clinicservice i:hover{
    color: teal;
    font-size: 70px;
}
.clinicservice h3{
    color: #227DC1;
    text-align: center;
    margin-top: 40px;
}
.clinicservice p{
    color: gray;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.clinicservice h1{
    text-align: center;
    margin-top: 20px;
}
.btn-1{
    color: white;
    font-size: 20px;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right,#21d194,#227DC1);
    margin-top: 40px;
    margin-left: 250px;
}
.digital{
    position: relative;
    height: 50vh;
    width: 100%;
}
.digiimg{
    height: 30vh;
    width: 20%;
    background-image: url('img/clinic_01.jpg');
    background-size: 100% 100%;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
.digi1{
    background-image: url('img/clinic_02.jpg');
    background-size: 100% 100%;
}
.digi2{
    background-image: url('img/clinic_03.jpg');
    background-size: 100% 100%;
}
.digitxt{
    height: 5vh;
    width: 100%;
    background-color: #389FEC;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
}
.book{
    height: 100vh;
    width: 100%;
    background-image: url('img/service-bg.png');
    background-size: 100% 100%;
    border: 1px solid grey;
    position: relative;
}
.booktxt{
    height: 30vh;
    width: 220px;
    color: white;
    text-align: center;
    line-height: 1.6rem;
    margin-top: 50px;
    margin-left: 30px;
    float: left;
}
.booktxt img{
    margin-top: 30px;
}
.leftdiv{
    
    height: 80vh;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
}
.appoint{
    height: 90vh;
    width: 30%;
    background-color: white;

    float: right;
    margin-top: -600px;
    margin-right: 100px;
    position: relative;
    padding: 1px;
}
.app{
    background-image: linear-gradient(to right,#21d194,#227DC1);
    height: 8vh;
    width: 80%;
    color:white;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
}
.app h1{
    padding: 8px;
}
.app input{
    height: 8vh;
    width: 98%;
    margin-left:-5px;
    margin-top: 30px;
}
.day input{
    width:47%;
    height: 8vh;
    float: left;
    margin-top: 0px;
    margin-left: 1px;
}
.day1{
    margin-top: -2px;
    margin-left:px;
}

textarea{
    color: gray;
    margin-top: 20px;
    height: 15vh;
    width: 100%;
    text-align: left;
}
.btn-2{
    color: white;
    height: 5vh;
    width: 150px;
    border-radius: 20px;
    background-image: linear-gradient(to right,#21d194,#227DC1);
    border: none;
    font-size: 20px;
    margin-top: 20px;
}
.clinicowner{
    height: 70vh;
    width: 25%;
    margin-top: 100px;
    margin-left: 80px;
    text-align: center;
    float: left;
}
.ownerimg{
    height:50vh;
    width:95%;
    background-image: url('img/doctor_01.jpg');
    background-size: 100% 100%;
    border-radius: 5px;
    padding: 1px;
}
.soren{
    font-weight: bolder;
    font-size: 23px;
    height: 6vh;
    width: 230px;
    background-image: linear-gradient(to right,#227DC1,#21d194);
    margin-top:45.5vh;
    margin-left: 70px;
}
.ownerimg .soren p{
    color: white;
    text-align: center;
}
.clinicowner h4{
    color:#227DC1 ;
    margin-top: 20px;
    
}
.clinicowner p{
    color:grey ;
}
.fb {
    height: 3vh;
    width: 30px;
    background-image: linear-gradient(to right,#21d194,#227DC1);
    float: left;
    color: white;
    margin-top: 20px;
    border-radius: 2px;
    padding: 2px;
    margin-left: 120px;
}
.fb i{
    margin-top: 5px;
}
.fb1{
    margin-left: 5px;
}
.fb2{
    margin-left: 5px;
}
.fb3{
    margin-left: 5px;
}
.bry1{
    background-image: url('img/doctor_02.jpg');
}
.bry2{
    background-image: url('img/doctor_03.jpg');
}
.wordpress{
    height: 100vh;
    width: 100%;
    background-image: url('img/price-bg.png');
    background-size: 100% 100%;
    position: relative;
    padding:1px;
}
.shared{
    height: 60vh;
    width: 25%;
    background-color: white;
    margin-top: 80px;
    margin-left: 80px;
    text-align: center;
    float: left;
}
.shared h2{
    font-size: 40px;

}
.shared h3{
    color: gray;
    margin-top: 20px;
    font-size: 25px;
}
.host p{
    color: #d9d9d9;
    font-size: 20px;
    margin-top: 20px;
    word-spacing: 5px;
    margin-bottom: 25px;
}
.host span{
    color: black;
    font-weight: bold;
}
.host{
    width: 90%;
    margin-left: 20px;
    border-bottom: 1px dotted gray;
}
.btn-4{
    height: 5vh;
    width: 140px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 30px;
}
.btn-5{
    background-image: linear-gradient(to right,#21d194,#227DC1);
}
.shared1{
    margin-top: 20px;
    height: 75vh;
}
.shared1 p{
    margin-top: 40px;
    margin-bottom: 30px;
}
.sharesub{
    color: white;
     background-image: linear-gradient(to right,#21d194,#227DC1);
}
.sharesub h3{
    color: white;
}
.special1 h2{
font-size: 35px;
}
.special1{
    background-image: url('img/bg-testimonial.png');
    background-size: 100% 100%;
    height: 150vh;
}
.testi1{
    height: 25vh;
    width: 35%;
    /* border:1px solid #d9dddc; */
    margin-top: 70px;
    margin-left: 120px;
    background-color: white;
    float: left; 
}
.testi1 p{
 color: gray;
 font-size: 20px;
 margin-top: 20px;
 line-height: 1.8rem;
}
.testi1 h3{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 30px;
}
.testi2{
    background-color: transparent;
    margin-top: 0;
    border: none;
}
.testi2 p{
    margin-left:100px ;
}
.testi2 img{
    margin-left: 10px;
     margin-top: 0;
}
.testi2 h4{
    color: #21d194;
    font-size: 25px;
    margin-top: -10;
    margin-left: 100px;
}
.testi3{
    background-color: transparent;
    margin-top: 0;
    border: none;
}
.testi3 p{
    margin-left:100px ;
}
.testi3 img{
    margin-left: 10px;
     margin-top: 0;
}
.testi3 h4{
    color: #21d194;
    font-size: 25px;
    margin-top: -10;
    margin-left: 100px;
}
.get{
    height: 40vh;
}
.get h2{
    font-size: 35px;
}
.map{
    height: 70vh;
    width: 100%;
    padding: 1px;
    background-image: url('map.jpg');
    background-size: 100% 100%;
    /* background-color: rgba(0,0,0, 6) */

}
.sm{
    height: 70vh;
    width: 40%;
    padding: 1px;
    background-color: black;
}
.na{
    border-bottom: 2px solid white;
    width: 200px;
    height:5vh;
    color:gray;
    margin-top:50px;
    margin-left: 70px;
    float: left;
    font-weight: bolder;
}
.na1{
    width: 470px;
    height: 15vh;
}
.btn-6{
    background-image: linear-gradient(to right,#227DC1,#21d194);
    color: white;
    height: 7vh;
    width: 150px;
    border:none;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 220px;
}
.google{
    background-color: white;
    border-radius: 4px;
    height: 25vh;
    width:500px;
    margin-top: -500px;
    margin-left: 550px;
    padding: 1px;
}
.google h3{
    color: gray;
    margin-left:60px;
    margin-top: 20px;
    font-size: 30px;
}
.google h4{
    font-size: 20px;
    margin-top: 10px;
    margin-left:60px;
}
.google p{
    font-size: 18px;
    color: gray;
    margin-top: 20px;
    margin-left:60px;
}
.btn-8{
    color:#389FEC;
    height: 6vh;
    width: 80px;
    border: 1px solid #d9dddc;
    border-radius: 5px;
    margin-left: 400px;
    background: white;
    font-weight: bolder;
    font-size: 15px;
}
.subscribe{
    height: 80vh;
    width: 100%;
    padding: 1px;
}
.sub1{
    height: 60vh;
    width: 27%;
    margin-top: 80px;
    margin-left: 50px;
    float: left;

}
.sub1 img{
    margin-top: 70px;
}
.sub1 p{
    color: gray;
    font-size: 20px;
    margin-top: 40px;
}
.sub1 h2{
    margin-left: 20px;
    border-left: 5px solid #227DC1;
    margin-top: 80px;
}
.sub1 i{
    color: #227DC1;
    margin-left: 20px;
}
.ead{
    height: 7vh;
    width: 100%;
    background-color: #d9dddc;
    color:grey;
    
}
.naviicon{
    height: 7vh;
    width: 20%;
    background-image: linear-gradient(to right,#227DC1,#21d194 );
    float: right;
    margin-top: -23px;

}
.naviicon i{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
.footer{
    width: 100%;
    height: 20vh;
    background-color: #389FEC;
    color: white;
padding: 1px;
}
.footer p{
    float: left;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 40px;
}
.footicon{
    float: right;
    font-size: 28px;
    margin-top: 50px;
    margin-right: 100px;
}
.footicon i{
    margin-right: 30px;
}